body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.left-column {
  width: 40%;
  padding: 10px 5px; 
  border-right: 1px solid #ccc;
  overflow-y: auto;
  max-height: 100vh;
}

.right-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.parameter-section {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
  padding-right: 0; 
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  margin-left: 15px;
  text-align: left;
}


.parameter-image {
  width: 38%; 
  margin-right: 5px; 
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 5%
}


.input-container {
  width: 40%; 
  flex-shrink: 0;
  margin-right: 0px; 
  margin-left: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 8px;
  table-layout: fixed;
}

td {
  padding: 0px 2px; 
  text-align: center;
  border: none;
  font-size: 13px;
}

input[type="text"], input[type="number"], input[type="email"] {
  width: 95%; 
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.unit-label {
  color: #666;
  font-size: 11px;
  margin-top: 4px;
  text-align: right;
}

#viewer {
  width: 90%;
  height: 90vh;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  position: relative;
  margin-bottom: 20px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 25px;
  border-radius: 5px;
  display: none;
}

.generate-button {
  position: absolute;
  left: 13%;
  bottom: 2%;
  transform: translate(-75%, -10%);
  z-index: 10;
}

#generateBtn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#generateBtn:hover {
  background-color: #505050;
}

.download-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.download-btn:hover {
  background-color: #505050;
}

#status {
  height: 20px;
  margin-top: 10px;
  color: #666;
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  padding-left: 15px;
}

.radio-options label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-options input[type="radio"] {
  margin-right: 8px;
}

.parameter-section:nth-of-type(2) {
  align-items: center; 
}


.parameter-section:nth-of-type(2) .parameter-image {
  align-self: center; 
}